{% extends "base.html" %}
{% block title %} {{ album.titulo }} {% endblock %}
{% block content %}
<div class="container mx-auto px-2 py-8 md:px-0">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-4">
    {% for foto in fotos %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img class="card-img-top open-modal cursor-pointer" src="{{ foto.imagen.url }}" alt="{{ foto.pie_de_foto }}">
            <div class="card-body">
                <p class="card-text">{{ foto.pie_de_foto }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<div id="modal" class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center hidden">
    <div class="relative w-11/12 max-w-4xl z-10">
        <button id="closeModal" class="absolute top-2 right-2 text-white text-2xl">X</button>
        <img id="modalImage" class="w-full max-w-full h-auto" src="" alt="">
        <div class="absolute bottom-0 left-0 right-0 bg-white bg-opacity-75 text-center py-1">
            <p id="modalCaption" class="text-black"></p>
        </div>
        <button id="prevImage" class="absolute left-0 top-1/2 transform -translate-y-1/2 text-white text-2xl px-2">&#10094;</button>
        <button id="nextImage" class="absolute right-0 top-1/2 transform -translate-y-1/2 text-white text-2xl px-2">&#10095;</button>
    </div>
</div>
<!-- Modal -->
</div>
{% endblock %}

{% block extra_js %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const modal = document.getElementById('modal');
      const modalImage = document.getElementById('modalImage');
      const modalCaption = document.getElementById('modalCaption');
      const closeModal = document.getElementById('closeModal');
      const prevImage = document.getElementById('prevImage');
      const nextImage = document.getElementById('nextImage');
      
      const images = document.querySelectorAll('.open-modal');
      let currentIndex = 0;
  
      function openModal(index) {
          currentIndex = index;
          const img = images[currentIndex];
          modalImage.src = img.src;
          modalCaption.textContent = img.alt;
          modal.classList.remove('hidden');
      }
  
      function closeModalFunction() {
          modal.classList.add('hidden');
      }
  
      function showPrevImage() {
          currentIndex = (currentIndex - 1 + images.length) % images.length;
          openModal(currentIndex);
      }
  
      function showNextImage() {
          currentIndex = (currentIndex + 1) % images.length;
          openModal(currentIndex);
      }
  
      images.forEach((img, index) => {
          img.addEventListener('click', (event) => {
              // Evita que el clic en la imagen se propague al modal
              event.stopPropagation();
              openModal(index);
          });
      });
  
      closeModal.addEventListener('click', closeModalFunction);
      prevImage.addEventListener('click', showPrevImage);
      nextImage.addEventListener('click', showNextImage);
  
      // Cerrar modal al hacer clic en el área de fondo semi-transparente
      modal.addEventListener('click', (event) => {
          if (event.target === modal) {
              closeModalFunction();
          }
      });
  });  
  </script>
{% endblock %}